// global Variables
$blackColor: #000;
$grayColor :#f5f5f5;
$yellowColor :#ffd001;
$whiteColor :#fff;
$buttonbaseColor: #c8c7cd;
$subTitleColor : #989898;
$blueColor:#047efb;
$greenColor:#01d299;;



